.main-container {
  padding-inline: 25%;
}
.main-1 {
  margin-top: 75px;

  width: 60%;
  /* padding-right: calc(420px - (viewport-width * 2) / 100%); */
}
.main-1 h1 {
  font-family: "Prata", serif;
  font-weight: 500;
  font-size: 52px;
  color: white;
}
.main-1 p {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  line-height: 26px;
}

.main-companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.main-grids {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6%;
  row-gap: 50px;
}
.grid-image {
  overflow: hidden;
  object-fit: contain;
}
.grid-image img {
  width: 100%;

  transition: transform 0.2s;
}
.grid-image img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.grid-child-1 h2 {
  font-family: "Prata", serif;
  font-weight: 400;
  font-size: 32px;
  margin-top: 12px;
  margin-bottom: 10px;
  color: white;
}
.grid-child-1 p {
  line-height: 25px;
  font-size: 15px;
}

.grid-child-2 h2 {
  font-family: "Prata", serif;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 10px;
  color: white;
}
.grid-child-2 p {
  line-height: 25px;
  font-size: 15px;
}
.grid-button {
  border-radius: 0;
  border: none;
  background-color: hsl(54, 93%, 65%);
  font-family: "Prata", serif;
  font-size: 16px;
  padding: 14px 27px;
  margin-top: 15px;
}
.grid-button:hover {
  cursor: pointer;
  background-color: rgb(252, 231, 48);
  font-weight: 600;
}
@media only screen and (max-width: 700px) {
  .main-container {
    padding-inline: 5%;
  }
  .main-1 {
    margin-top: 75px;

    width: 100%;
    /* padding-right: calc(420px - (viewport-width * 2) / 100%); */
  }
  .main-1 h1 {
    font-family: "Prata", serif;
    font-weight: 500;
    font-size: 40px;
    color: white;
  }

  .main-grids {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 6%;
    row-gap: 50px;
  }
}
@media only screen and (max-width: 1416px) {
  .main-1 {
    margin-top: 75px;

    width: 100%;
    /* padding-right: calc(420px - (viewport-width * 2) / 100%); */
  }
  .main-container {
    padding-inline: 10%;
  }
}

@media only screen and (max-width: 900px) {
  .main-companies {
    display: flex;
    row-gap: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
  }
  .main-companies svg {
    flex-wrap: wrap;
    margin: 0 15px;
  }
}
